fastapi
uvicorn
python-dotenv
python-multipart
pillow
numpy
requests
beautifulsoup4
PyMuPDF
easyocr
llama-index>=0.10.0
llama-index-llms-groq
llama-index-embeddings-huggingface
llama-index-retrievers-bm25
transformers
torch
sentence-transformers